html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    font-weight: normal;
    float: left;
    margin-right: 30px;
    
}

h2 {
    font-family: sans-serif;
    width: auto;
    margin-left: 10px;
    font-weight: normal;
}

div {
    height: auto;
    width: 500px;
    left: 50%;
    font-weight: normal;
    padding: 10px;
    margin: 20px;
}



.btn {
    border-radius: 4px;
    font-family: sans-serif;
    color: #000;
    font-size: 80%;
    padding: 10px 25px;
    border: solid #000 2px;
    text-transform: uppercase;
    text-decoration: none; 
    margin: 50px;
   
}

.btn:hover{
    border: solid #000 3px;
    color: #fff;
    fill: #000;
    background-color: #000;
    
}

.nav {
    font-family: serif;
    color: #000;
    margin-top: 20px;
    font-size: 80%;
    padding: 2px 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none; 
   
}

.nav:hover{
    color: lightgray;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 100px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    float:left;
    margin: 10px;
    
}

/* hover effect  */
.fa:hover {
    opacity: 0.7;
}

/* color for each brand */

/* Facebook */
.fa-facebook {
    background: #fff;
    color: lightgray;
}

/* Twitter */
.fa-twitter {
    background: #fff;
    color: lightgray;
}

.fa-instagram {
  background: #fff;
  color: lightgray;
}
.fa-linkedin{
  background: #fff;
  color: lightgray;
}